* {
    margin: 0;
    padding: 0;
    outline: 0 !important;
}

body {
    background: rgb(224,235,245);
    font-family: Snell Roundhand, cursive;
}

.title {
    font-size: 18pt;
    margin-bottom: 20px;
}

main {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blockSign {
    height: 50%;
    width: 20%;
    background: rgb(255, 255, 255);
    padding: 1%;
    border-radius:  5px;
    box-shadow: 6px 6px 6px rgba(153, 153, 153, 0.5);
}

.blockSign input {
    width: 98%;
    height: 20px;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid rgba(104, 143, 180, 0.5);
    margin-bottom: 20px;
    margin-top: 5px;
}

button {
    border-radius:  5px;
    border: 1px solid rgba(104, 143, 180, 0.5);
    padding: 5px 10px;
    background: rgb(224,235,245);
    font-family: Snell Roundhand, cursive;
    font-size: 100%;
    color: rgb(0, 64, 124);
    cursor: pointer;
}

.flexCenter {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 30%;
}

.newAcc {
    display: flex;
    justify-content: center;
    margin-top: 35%;
    cursor: pointer;
}

.newAcc span {
    color: rgb(0, 78, 151);
}

.blockLoader {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: none;
    justify-content: center;
    align-items: center;
    background: #00000049;
}

.loader {
    border: 16px solid #ffffff;
    border-radius: 50%;
    border-top: 16px solid rgb(61, 129, 192);
    border-bottom: 16px solid rgb(61, 129, 192);
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .blockMain {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .signOut {
      margin-top: 20px;
  }

  .Err {
      margin-top: 5%;
      color: red;
  }


