{{ define "index" }}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{{.Title}}</title>
            <link rel="stylesheet" type="text/css" href="static/styles/main.css"/>
        </head>
        </body>
            {{if .Auth}}
                {{ template "auth"}}
            {{else}}
                {{ template "main"}}
            {{end}}
            <div class="blockLoader">
                <div class="loader"></div>
            </div>
            <script type="text/javascript" src="static/scripts/showSign.js"></script>
            <script type="text/javascript" src="static/scripts/sign.js"></script>
            <script type="text/javascript" src="static/scripts/main.js"></script>
        </body>
    </html>
{{end}}